<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->

  <appSettings>
    <add key="ProviderUrl" value="https://gist.githubusercontent.com/RichardD012/a81e0d1730555bc0d8856d1be980c803/raw/3fe73fafadf7e5b699f056e55396282ff45a124b/basic.json" />
  </appSettings>
  
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="false">
        <requestLimits maxAllowedContentLength="30000000" maxUrl="40960" maxQueryString="20480" />
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>